{% extends 'base.html' %}

{% block title %}Add Aluno{% endblock %}

{% block content %}
  <h1>Add Aluno</h1>

  <form action="{{ url_for('add_aluno') }}" method="post">
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" required>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    <label for="matricula">Matricula:</label>
    <input type="text" id="matricula" name="matricula" required>
    <label for="codigo_curso">Curso:</label>
    <select id="codigo_curso" name="codigo_curso" required>
      {% for curso in cursos %}
        <option value="{{ curso.codigo }}">{{ curso.nome }}</option>
      {% endfor %}
    </select>
    <button type="submit">Add</button>
  </form>
{% endblock %}
