<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>CAIN - UFOP</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <img src="https://reciclos.ufop.br/sites/default/files/reciclos/files/ufop-logo.jpg?m=1641922024" alt="Logo UFOP" class="logo">
        <div class="header-text">
          <h1>CAIN - Coordenadoria de Acessibilidade e Inclusão</h1>
          <h2>Universidade Federal de Ouro Preto</h2>
        </div>
      </div>
    </header>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('pessoas') }}">Pessoas</a>
      <a href="{{ url_for('add_pessoa') }}">Adicionar Pessoa</a>
      <a href="{{ url_for('assign_role') }}">Atribuir Papel</a>
      <a href="{{ url_for('cursos') }}">Cursos</a>
      <a href="{{ url_for('departamentos') }}">Departamentos</a>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <p>&copy; 2024 Universidade Federal de Ouro Preto</p>
    </footer>
  </body>
</html>
