{% extends 'base.html' %}

{% block title %}Consulta de Alunos por Curso{% endblock %}

{% block content %}
  <h1>Consulta de Alunos por Curso</h1>

  <form action="{{ url_for('consulta1') }}" method="post">
    <label for="codigo_curso">Curso:</label>
    <select id="codigo_curso" name="codigo_curso" required>
      {% for curso in cursos %}
        <option value="{{ curso.codigo }}">{{ curso.nome }}</option>
      {% endfor %}
    </select>
    <button type="submit">Consultar</button>
  </form>
{% endblock %}
