{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Bem-vindo ao Sistema de Gestão da CAIN</h1>
  <p>Este sistema foi desenvolvido para gerenciar as informações e atividades da Coordenadoria de Acessibilidade e Inclusão (CAIN) da Universidade Federal de Ouro Preto.</p>
  <p>Utilize a navegação acima para acessar as diferentes seções:</p>
  <ul>
    <li><strong><a href="{{ url_for('pessoas') }}">Pessoas</a>:</strong> Visualize e gerencie os dados de todos os indivíduos no sistema.</li>
    <li><strong><a href="{{ url_for('add_pessoa') }}">Adicionar Pessoa</a>:</strong> Cadastre as informações básicas de um novo indivíduo.</li>
    <li><strong><a href="{{ url_for('assign_role') }}">Atribuir Papel</a>:</strong> Adicione os papéis de Aluno ou Servidor a uma pessoa já cadastrada.</li>
    <li><strong><a href="{{ url_for('cursos') }}">Cursos</a>:</strong> Gerencie os cursos oferecidos.</li>
    <li><strong><a href="{{ url_for('departamentos') }}">Departamentos</a>:</strong> Gerencie os departamentos e setores da universidade.</li>
  </ul>
{% endblock %}
