{% extends 'base.html' %}

{% block title %}Relatório de Pessoas com Deficiência{% endblock %}

{% block content %}
  <h1>Relatório de Pessoas com Deficiência (PCD)</h1>

  {% if pcds %}
    <table>
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Papel Principal</th>
                <th>ID PCD</th>
            </tr>
        </thead>
        <tbody>
            {% for pcd in pcds %}
              <tr>
                <td>{{ pcd.cpf }}</td>
                <td>{{ pcd.nome }}</td>
                <td>{{ pcd.papel }}</td>
                <td>{{ pcd.id_pcd }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p>Não há pessoas com deficiência cadastradas no sistema.</p>
  {% endif %}

  <a href="{{ url_for('index') }}">Voltar para a Home</a>
{% endblock %}
